<#if ReturnResultNone>this.resolveNode("${ScriptObjectSOM}").${Function}(${FunctionParams});</#if>
<#if ReturnResultTo>this.resolveNode("${SOM}").rawValue = this.resolveNode("${ScriptObjectSOM}").${Function}(${FunctionParams});</#if>